<html>

	<body>
		Welcome to JR's C$50 Finance!<br /><br />
		<a href = "http://www.vse.jayravaliya.com" target = "_BLANK">C$50 Finance</a> is my version of a <a href = "https://www.cs50.harvard.edu" target = "_BLANK">Harvard CS50</a> project that I'm really excited to share with you. To get started:<br />
		<ul>
			<li>We've given you $10,000 to get you going - start by buying stocks to build your portfolio!</li>
			<li>Check out the <a href = "http://www.vse.jayravaliya.com/leaderboard.php" target = "_BLANK">Leaderboard</a> to see how you compare against other users. Can you make it to the top of the list?</li>
			<li>Follow along with me on all enhancements and changes via <a href = "http://www.vse.jayravaliya.com/updates.php" target = "_BLANK">Updates</a>.</li>
			<li>Learn about what stocks everyone is trading the most via <a href = "http://www.vse.jayravaliya.com/frequent.php" target = "_BLANK">What's Hot?</a> - maybe it'll give you an idea of what to try next!</li>
		</ul>
		Most importantly, if you see anything that can be improved or enhanced, <a href = "mailto:cs50finance.jr@gmail.com" target = "_BLANK">email me</a>! Your feedback is critical to this site being the best it can be.<br /><br />
		That's all from me - get started and good luck! Big shout out to the <a href = "https://cs50.harvard.edu/staff" target = "_BLANK">CS50 Staff</a> for leading this awesome course and making it available to students around the world. Learn more about the course via their website (linked above), and learn more about this project's specs <a href = "http://www.vse.jayravaliya.com/pset7.pdf" target = "_BLANK">here</a>.<br /><br />Happy Trading,<br />Jay
	</body>

</html>